<div class="container-fluid home align-items-center justify-content-center">
  <div class="row align-items-center justify-content-center pt-3">
    <div class="col-sm-2 text-center">
      <img class="img mb-4" src="https://image.flaticon.com/icons/png/512/25/25231.png" alt="" width="72" height="72">
    </div>
    <div class="col-sm-4">
      <h1 class="h3 text-center">
        Code Contribution Calculator
      </h1>
    </div>
    <div class="col-sm-2">
    </div>
  </div>
  <div class="row justify-content-center mt-2">
    <div class="col text-center">
      <%=
        link_to "Sign in with GitHub", authorize, class: "btn btn-auth btn-github large"
      %>
    </div>
  </div>
</div>
