<div class="container">
  <div class="row align-items-center">
    <div class="col-sm-2">
      <img class="mb-4" src="https://image.flaticon.com/icons/png/512/25/25231.png" alt="" width="72" height="72">
    </div>
    <div class="col-sm-8">
      <h1 class="h3 mb-3">
        Code Contribution Calculator
      </h1>
    </div>
  </div>
  <div class="row">
    <%=
      link_to "Sign in with GitHub", authorize, class: "btn btn-auth btn-github large"
    %>
  </div>
</div>
