// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@font-face {
  font-family: Inter;
  src: url("../fonts/Inter/Inter-Regular.ttf");
}

div[class$="container-fluid home align-items-center justify-content-center"] {
  margin: 0;
  background-color: #161b22;
}

.img {
  -webkit-filter: invert(1);
  filter: invert(1);
}

.h3 {
  color: #c9d1d9;
}

body {
  margin: 0;
  justify-content: center;
}