// Place all the styles related to the repos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/]
div[class$="container-fluid"] {
  padding: 0;
  background-color: #161b22;
}

p {
  color: #c9d1d9;
}

.d-flex.justify-content-end {
  margin: 0;
  padding: 0;
  background-color: #21262d;
}

.table.table-dark {
  --bs-table-bg: transparent;
  margin: 20px;
}
.name:hover {
  color: #58a6ff;
}